*{
    box-sizing: border-box;
}

body{
    text-align: center;
}


#background_img{
    background-image: url("./images/undraw_happy_birthday_s72n.svg");
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_title{
    border: 1.5px solid black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-image: linear-gradient(#a8ff78,#78ffd6);
    display: block;
    margin: auto;
    height: 20vh;
}

#main{
    display: block;
    margin: auto;
    background-image: linear-gradient(#a8ff78,#78ffd6);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#birthday_image{
    width: 40%;
    height: 40%;
    position: absolute;
    top: 16%;
    right: 0;
    z-index: -1;
}

.privacy_note{
    border: 1px solid #a8ff78;
    font-size: 17px;
    color: red;
    width: 100%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-bottom: 10px;
    position: relative;
}

.close{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.heading{
    padding: 15px 40px;
    margin: 20px;
    text-align: center;
}

.details_form{
    display: block;
    width: 100%;
}

.details_date{
    display: block;
    padding: 1rem;
    font-size: 20px;
    font-weight: bold;
}

input{
    width: 50%;
    height: 7vh;
    margin: 10px;
}

#submit_btn{
    display: block;
    margin: auto;
    padding: 13px 40px;
    border-radius: 6px;
    color: blanchedalmond;
    background-color: black;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 15px;
}

#output{
    font-size: 25px;
    font-weight: bolder;
    padding: 15px;
    margin: 20px 20px 5px 20px ;
}

.footer{
    margin: 10px 0 0;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.footer_list{
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.footer_list li{
    display: inline;
    margin: auto;
    padding: 15px;
}

.footer_img{
    width: 30px;
    margin: auto;
}

@media screen and (min-width: 360px) {
    #main{
        width: 350px;
    }

    .page_title{
        width: 100%;
    }

    .footer{
        width: 100%;
    }

}

@media screen and (min-width: 768px) {

    #main{
        width: 50%;
    }

    .page_title{
        width: 50%;
    }

    .privacy_note{
        width: 40%;
    }

    .footer{
        width: 70%;
        margin: auto;
        margin-top: 20px;
    }
}
